BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "red" SITE "T3" ;
LOCATE COMP "green" SITE "R4" ;
LOCATE COMP "blue" SITE "N6" ;
LOCATE COMP "hsync" SITE "L7" ;
LOCATE COMP "vsync" SITE "R6" ;
IOBUF PORT "hsync" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "vsync" PULLMODE=UP IO_TYPE=LVCMOS25 ;
